spec: &spec
  x-sub-request-filters:
    - type: default
      name: http
      options:
        allow:
          - pattern: /^https?:\/\//
            forward_headers:
              user-agent: true
  title: The Change Propagation for JobQueue root
  paths:
<%- if env == 'production' %>
    /{api:sys}/dedupe:
      x-modules:
        - path: src/sys/deduplicator.js
          options:
            redis_prefix: 'CPJQ'
            redis:
              path: <%= redis_path %>
              password: <%= redis_pass if redis_pass else '' %>
    /{api:sys}/partition:
      x-modules:
        - path: src/sys/partitioner.js
          options:
            partition_topic_name: 'change-prop.partitioned.mediawiki.job.refreshLinks'
            partition_key: database
            partition_default: 2
            partition_map:
              # s1: enwiki
              enwiki: 0
              # s2: large wikis
              bgwiki: 1
              bgwiktionary: 1
              cswiki: 1
              enwikiquote: 1
              enwiktionary: 1
              eowiki: 1
              fiwiki: 1
              idwiki: 1
              itwiki: 1
              nlwiki: 1
              nowiki: 1
              plwiki: 1
              ptwiki: 1
              svwiki: 1
              thwiki: 1
              trwiki: 1
              zhwiki: 1
              # s3 (default)
              # s4: commons
              commonswiki: 3
              # s5: dewiki
              dewiki: 4
              # s6: large wikis
              frwiki: 5
              jawiki: 5
              ruwiki: 5
              # s7: large wikis centralauth
              eswiki: 6
              huwiki: 6
              hewiki: 6
              ukwiki: 6
              frwiktionary: 6
              metawiki: 6
              arwiki: 6
              centralauth: 6
              cawiki: 6
              viwiki: 6
              fawiki: 6
              rowiki: 6
              kowiki: 6
              # s8: wikidata
              wikidatawiki: 7
<%- endif %>
    /{api:sys}/queue:
      x-modules:
        - path: src/sys/kafka.js
          options:
            metadata_broker_list: <%= broker_list %>
            dc_name: <%= site %>
            consumer:
              # JobQueue jobs might sent messages larget then 1 Meg,
              # so we increase the max message size in kafka and have to
              # ajust the consumers accordingly.
              fetch.message.max.bytes: <%= kafka_max_bytes %>
            producer:
              compression.codec: <%= kafka_compression_codec %>
            concurrency: <%= concurrency %>
            startup_delay: 60000
            templates:
<%- if env == 'production' %>
<%- for topic, topic_config in high_traffic_jobs_config.iteritems() %>
              <%= topic %>:
                topic: 'mediawiki.job.<%= topic %>'
<%- for key, value in topic_config.iteritems() %>
                <%= key %>: <%= value %>
<%- endfor %>
                exec:
                  method: post
                  uri: '<%= jobrunner_uri %>'
                  headers:
                    content-type: 'application/json'
                  body: '{{globals.message}}'
                  agentOptions:
                    keepAlive: true
<%- endfor %>
              refreshLinks_partitioner:
                topic: 'mediawiki.job.refreshLinks'
                concurrency: 200
                exec:
                  method: 'post'
                  uri: '/sys/partition/'
                  headers:
                    content-type: application/json
                  body: '{{globals.message}}'
              refreshLinks:
                topic: 'change-prop.partitioned.mediawiki.job.refreshLinks'
                # Total concurrency of 160 divided by 8 partitions
                concurrency: 20
                # Abandon jobs which root job is more then 1 week long
                root_claim_ttl: 604800
                exec:
                  method: post
                  uri: '<%= jobrunner_uri %>'
                  headers:
                    content-type: application/json
                  body: '{{globals.message}}'
                  agentOptions:
                    keepAlive: true
# Now special rule to cover all the low-traffic jobs
              low_traffic_jobs:
                # Most of the topics are empty most of the time, so a lot of
                # slots are just waiting for the `consume` method to timeout
                # and do nothing. So a significantly higher concurrency is
                # needed to account for that.
                concurrency: 100
                topics:
                  - '/^mediawiki\.job\..*/'
                # Don't execute anything that's covered by different rules
                exclude_topics:
<%- for job in high_traffic_jobs_config.iterkeys() %>
                  - 'mediawiki.job.<%= job %>'
<%- endfor %>
<%- for job in cirrus_search_jobs %>
                  - 'mediawiki.job.<%= job %>'
<%- endfor %>
                  - 'mediawiki.job.refreshLinks' # has its own special rule
                  - 'mediawiki.job.gwtoolsetUploadMediafileJob' #T192946
                  - 'mediawiki.job.EchoNotificationJob' #T192945
                  - 'mediawiki.job.webVideoTranscode' #T188947
                  - 'mediawiki.job.webVideoTranscodePrioritized' #T188947
                exec:
                  method: post
                  uri: '<%= jobrunner_uri %>'
                  headers:
                    content-type: 'application/json'
                  body: '{{globals.message}}'
                  agentOptions:
                    keepAlive: true
# Temporary section: Will be removed after all cirrus search jobs are transferred
<%- for job in cirrus_search_jobs %>
              <%= job %>:
                topic: 'mediawiki.job.<%= job %>'
                match:
                  meta:
                    domain: '/(?:^test\.wikipedia\.org$)|(?:^test2\.wikipedia\.org$)|(?:^mediawiki\.org$)|(?:^www\.mediawiki\.org$)|(?:^test\.wikidata\.org$)/'
                exec:
                  method: post
                  uri: '<%= jobrunner_uri %>'
                  headers:
                    content-type: 'application/json'
                  body: '{{globals.message}}'
                  agentOptions:
                    keepAlive: true
<%- endfor %>
# End of temporary section
<%- else %>
              job:
                topic: '/^mediawiki\.job\..*/'
                exec:
                  method: post
                  uri: '<%= jobrunner_uri %>'
                  headers:
                    content-type: 'application/json'
                  body: '{{globals.message}}'
                  agentOptions:
                    keepAlive: true
<%- endif %>


# Number of worker processes to spawn.
# Set to 0 to run everything in a single process without clustering.
# Use 'ncpu' to run as many workers as there are CPU units
num_workers: ncpu

# Number of workers to start in parallel after the first worker.
# The first worker is always started independently. After it has completed
# its start-up, this number controls the number of workers to start in
# parallel until `num_workers` have been started. Note that setting this
# number to a too high a value might lead to high resource consumption
# (especially of CPU) during the start-up process.
startup_concurrency: 4

# Log error messages and gracefully restart a worker if v8 reports that it
# uses more heap (note: not RSS) than this many mb.
worker_heap_limit_mb: 750

# The maximum interval in ms that can pass between two beat messages
# sent by each worker to the master before it is killed
worker_heartbeat_timeout: 15000

# Logger info
logging:
  level: warn
  name: <%= log_name %>
  streams:
    - host: <%= logstash_host %>
      port: <%= logstash_port %>
      type: gelf
    - level: info
      path: <%= log_file %>
      type: file
  sampled_levels:
    trace/dedupe: 0.001
    # With the average job insertion rate of 1000/s this will give about 1 sample log per minute
    trace/sample: 0.00002

# Statsd metrics reporter
metrics:
  name: <%= metrics_name %>
  host: <%= metrics_host %>
  port: <%= metrics_port %>
  type: statsd

services:
  - name: <%= name %>
    # a relative path or the name of an npm package, if different from name
    module: hyperswitch
    # per-service config
    conf:
      cors: "*"
      port: <%= port %>
      # interface: localhost # uncomment to only listen on localhost
      # URL of the outbound proxy to use (complete with protocol)
      proxy: <%= proxy if proxy else '' %>
      # the list of domains for which not to use the proxy defined above
      # no_proxy_list:
      #   - domain1.com
      #   - domain2.org
      # the list of incoming request headers that can be logged; if left empty,
      # the following headers are allowed: cache-control, content-length,
      # content-type, if-match, user-agent, x-request-id
      # log_header_whitelist:
      #   - cache-control
      #   - content-length
      #   - content-type
      #   - if-match
      #   - user-agent
      #   - x-request-id
      user_agent: ChangePropagation-JobQueue/WMF
      spec: *spec
